<a href="https://colab.research.google.com/github/NicolaeAlin25/GDA2021/blob/main/Alin_GridSearch_%26_randomized_Search.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns

url = "/content/drive/MyDrive/titanic.csv"

df_titanic = pd.read_csv(url)
df_titanic['Sex'] = df_titanic['Sex'].factorize()[0]
df_titanic

     Survived  Pclass  ... Parents/Children Aboard     Fare
0           0       3  ...                       0   7.2500
1           1       1  ...                       0  71.2833
2           1       3  ...                       0   7.9250
3           1       1  ...                       0  53.1000
4           0       3  ...                       0   8.0500
..        ...     ...  ...                     ...      ...
882         0       2  ...                       0  13.0000
883         1       1  ...                       0  30.0000
884         0       3  ...                       2  23.4500
885         1       1  ...                       0  30.0000
886         0       3  ...                       0   7.7500

[887 rows x 8 columns]

In [ ]:
# You will perform a supervised classification on the survived column, by performing a traintestsplit (without fixing the random_state), 
# then a classifier of your choice (knn, decision tree, logistic regression, etc...). You have to clearly show the accuracy score of the 
# training game and the accuracy score of the test game.


from sklearn.model_selection import train_test_split

X = df_titanic[['Pclass', 'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard', 'Fare','Sex']]
y = df_titanic['Survived']

# split the data
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.3)

# fit a decision tree
from sklearn.tree import DecisionTreeClassifier
modelDTC = DecisionTreeClassifier()
modelDTC.fit(X_train, y_train)

# print accuracy score
print("accuracy score on train set:",modelDTC.score(X_train, y_train))
print("accuracy score on test set:",modelDTC.score(X_test, y_test))

accuracy score on train set: 0.9806451612903225
accuracy score on test set: 0.7677902621722846

In [ ]:
# With the same classifier, you will launch a GridSearch with the values (2, 3, 5, 10) of the max_depth parameter, and with the values (1, 3, 5, 10) of the min_samples_leaf parameter.

# GridSearchCV
from sklearn.model_selection import GridSearchCV

dico = {'min_samples_leaf': [1,3,5,10],
        'max_depth' : [2,3,5,10]}
grid = GridSearchCV(DecisionTreeClassifier(), dico , cv = 3)
grid.fit(X_train,y_train)

print("best score:",grid.best_score_)
print("best parameters:",grid.best_params_)
print("accuracy score on test set:",grid.score(X_test, y_test))

best score: 0.8048950174319528
best parameters: {'max_depth': 5, 'min_samples_leaf': 5}
accuracy score on test set: 0.8801498127340824

In [ ]:
# results
grid.cv_results_

In [ ]:
# randomizedsearchcv
from sklearn.model_selection import RandomizedSearchCV

dico = {'min_samples_leaf': [1,3,5,10],
        'max_depth' : [2,3,5,10]}
rando = RandomizedSearchCV(DecisionTreeClassifier(), dico, cv=3)
rando.fit(X_train,y_train)

print("best score:",rando.best_score_)
print("best parameters:",rando.best_params_)
print("accuracy score on test set:",rando.score(X_test, y_test))

best score: 0.8016744055156887
best parameters: {'min_samples_leaf': 3, 'max_depth': 5}
accuracy score on test set: 0.8614232209737828

In [ ]:
# rando results
rando.cv_results_