<a href="https://colab.research.google.com/github/NicolaeAlin25/GDA2021/blob/main/Alin_Score_and_TrainTestSplit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Execute the code below

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
from sklearn.linear_model import LinearRegression
link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/weather2019.csv"
df_weather = pd.read_csv(link)
df_weather

           DATE  MAX_TEMPERATURE_C  ...  MONTH  DAY
0    2019-01-01                  9  ...      1    1
1    2019-01-02                  8  ...      1    2
2    2019-01-03                  6  ...      1    3
3    2019-01-04                  5  ...      1    4
4    2019-01-05                  6  ...      1    5
..          ...                ...  ...    ...  ...
360  2019-12-27                 13  ...     12   27
361  2019-12-28                 11  ...     12   28
362  2019-12-29                  9  ...     12   29
363  2019-12-30                 12  ...     12   30
364  2019-12-31                 10  ...     12   31

[365 rows x 24 columns]

# Scoring and metrics
Last time, you did a multivariate linear regression. But how can you be sure this multivariate linear regression is better than an univariate ? You have to measure it !

## First regression
Let's begin with a first linear regression : create a new column `'predict_from_sun'` whith the prediction of MAX temperature from the SUNHOUR variable.

In [ ]:
# Your code here :
X = df_weather[['SUNHOUR']]
y = df_weather['MAX_TEMPERATURE_C']
model_from_sun = LinearRegression().fit(X,y)

## R2 score
The best possible R2 score is '1', when our prediction predicts perfectly the reality. Let's see what is our R2 score :

In [ ]:
# Change the name of the model if it's necessary
model_from_sun.score(X, y)

0.47654554059087306

## Let's continue with 2 others regressions
- Second regression : create a new column 'predict_from_min' whith the prediction of MAX temperature from the MIN temperature variable
- Third regression : create a new column 'predict_from_both' whith the prediction of MAX temperature from the both variables (MIN temperature and Sunhours)

In [ ]:
# Your code here :
X2 = df_weather[['MIN_TEMPERATURE_C']]
predict_from_min = LinearRegression().fit(X2,y)
X3 = df_weather[['MIN_TEMPERATURE_C','SUNHOUR']]
predict_from_both = LinearRegression().fit(X3,y)

## Calculate the R2 score of the 2 new predictions
Be careful : if you still use the same "X" name, you will overwrite it.

Which model has the best score ? Do you think it's logic ?

In [ ]:
# Your code here :
print("For max temp on min variable", predict_from_min.score(X2,y))
print("For max temp on both variables", predict_from_both.score(X3,y))

For max temp on min variable 0.7689396999057355
For max temp on both variables 0.867478798077497

# Train Test Split
One of biggest problems of Machine learning is : **overfitting**.

To be sure that machine didn't memorize the result, we use the Train Test Split methodology. We keep some data separate (often 25% of our initial dataset). Then we train our model on the 75% (the "Train set"). 
After, we can calculate a score on the "Test set".

Let's do that !

In [ ]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['SUNHOUR']]
y = df_weather['MAX_TEMPERATURE_C']

# Here, we split our 2 datasets (the variables "X" and the target "y") into 4 datasets X and y for the train set and X and y for the test set.
# We set the size of the train set to 75%. And the rest is for the test set.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = 0.75)
print("The lenght of the initial dataset is :", len(X))
print("The lenght of the train dataset is   :", len(X_train))
print("The lenght of the test dataset is    :", len(X_test))

# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

The lenght of the initial dataset is : 365
The lenght of the train dataset is   : 273
The lenght of the test dataset is    : 92

Score for the Train dataset : 0.47243569075679914
Score for the Test dataset : 0.4749360350733982

## Both scores are very close, there is no overfitting, well done !

What happens if we don't randomize our dataset. Here, the model learns only on the 9 first months.

In [ ]:
# Juste read and execute the code below
from sklearn.model_selection import train_test_split

X = df_weather[['MIN_TEMPERATURE_C']]
y = df_weather['MAX_TEMPERATURE_C']

# We set the size of the train set to 75%. And the rest is for the test set.
# We set the split NOT in random.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.75, shuffle = False)


# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

Score for the Train dataset : 0.7875765302008688
Score for the Test dataset : 0.03610833322378593

## There is an overfitting ! 
Indeed, the model get a good score on the Train dataset, because he learned in winter / spring / summer datas. But he get a bad score in Falls...

# Let's play !
Train a new model with all numeric variables (without your target of course) and try to have a better score than previously.

Remember to split randomly your dataset before training your model.

Display the Test score.

In [ ]:
# Your code here :
from sklearn.model_selection import train_test_split

X = df_weather[['MIN_TEMPERATURE_C']]
y = df_weather['MAX_TEMPERATURE_C']

# We set the size of the train set to 25%. And the rest is for the test set.
# We set the split NOT in random.
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.25, random_state=42)


# Here we train the model only on the train dataset.
newmodel = LinearRegression().fit(X_train, y_train)

# And now we compare both scores :
print("\nScore for the Train dataset :", newmodel.score(X_train, y_train))
print("Score for the Test dataset :", newmodel.score(X_test, y_test))

Score for the Train dataset : 0.7880677616506524
Score for the Test dataset : 0.7595758802501807